<section>
  <div class="col-sm-12 text-center">
    <span class="block padding_top_30px">
      <%= link_to root_url, class: "top_logo_link" do %>
        <%= image_tag("logo_add_4.png", class: "img-responsive center_image logo_img") %>
      <% end %>
    </span>

    <span class="block top_nav_heading">
      Produzione Artigianale Su Misura
    </span>
  </div>
</section>

<section>
  <div class="container">
    <div class="col-sm-12 no_side_padding text-center">
      <ul class="list-inline nav_list">
        <li>
          <%= link_to "Home", root_url, class: "nav_item #{params[:controller] == 'main' && params[:action] == 'index' ? 'active' : ''}" %>
        </li>

        <li>
          <%= link_to "Divani", divani_path, class: "nav_item #{params[:controller] == 'divani' ? 'active' : ''}" %>
        </li>

        <li>
          <%= link_to "Letti", letti_path, class: "nav_item #{params[:controller] == 'letti' ? 'active' : ''}" %>
        </li>

        <% if false %>
          <li>
            <%= link_to "Poltrone", poltrone_path, class: "nav_item #{params[:controller] == 'poltrone' ? 'active' : ''}" %>
          </li>
        <% end %>

        <li>
          <%= link_to "Materassi", materassi_path, class: "nav_item #{params[:controller] == 'materassi' ? 'active' : ''}" %>
        </li>

        <li>
          <%= link_to "Chi Siamo", chi_siamo_path, class: "nav_item #{params[:controller] == 'main' && params[:action] == 'chi_siamo' ? 'active' : ''}" %>
        </li>

        <li>
          <%= link_to "Dove Siamo", "#dove_siamo", class: "nav_item #{params[:controller] == 'main' && params[:action] == 'dove_siamo' ? 'active' : ''}" %>
        </li>
      </ul>
    </div>
  </div>
</section>
