<section class="grey_bg padding_top_50px">
  <div class="container no_side_padding">

    <div id="divani_design" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Letti Classico
      </span>
    </div>

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_tiffany_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/TIFFANY/BD409_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE TIFFANY
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_anna_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/ANNA/BD408_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE ANNA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_lucy_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/LUCY/BD410_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE LUCY
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_penelope_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/PENELOPE/BD366_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE PENELOPE
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_grace_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/GRACE/BD137_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE GRACE
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to gardenia_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/GARDENIA/SB391_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            GARDENIA
          </span>
        <% end %>
      </div>

    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_victoria_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/VICTORIA/BD425_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE VICTORIA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_alicia_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/ALICIA/BD424_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE ALICIA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_katherine_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/KATHERINE/BD229_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE KATHERINE
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_greta_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/GRETA/BD111_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE GRETA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_elizabeth_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/ELIZABETH/BD127_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE ELIZABETH
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_anita_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/ANITA/BD136_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE ANITA
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_ingrid_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/INGRID/BD142_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE INGRID
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_veronica_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/VERONICA/BD145_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE VERONICA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to cameron_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/CAMERON/BD406_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            CAMERON
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to hilary_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/HILARY/BD407_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            HILARY
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to sabrina_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/SABRINA/BD416_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SABRINA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to amy_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/AMY/BD421_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            AMY
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to cora_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/CORA/BD422_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            CORA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to jennifer_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/JENNIFER/BD423_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            JENNIFER
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to norah_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/NORAH/BD426_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            NORAH
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_grace_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/M_GRACE/SD137_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA GRACE
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_victoria_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/M_VICTORIA/SD425_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA VICTORIA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_lucy_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/M_LUCY/SD410_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA LUCY
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_katherine_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/M_KATHERINE/SD229_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA KATHERINE
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_veronica_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/M_VERONICA/SD145_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA VERONICA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_alicia_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/M_ALICIA/SD424_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA ALICIA
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to singolo_katherine_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/S_KATHERINE/SB229_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO KATHERINE
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to singolo_grace_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/S_GRACE/SB137_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO GRACE
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to singolo_lucy_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/S_LUCY/SB410_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO LUCY
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to singolo_victoria_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/S_VICTORIA/SB425_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO VICTORIA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to singolo_ingrid_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/S_INGRID/SB142_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO INGRID
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to singolo_veronica_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/S_VERONICA/SB145_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO VERONICA
          </span>
        <% end %>
      </div>

    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to singolo_greta_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/classico/S_GRETA/SB111_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO GRETA
          </span>
        <% end %>
      </div>

    </div>

  </div>
</section>
