<section class="grey_bg padding_top_50px">
  <div class="container no_side_padding">

    <div id="letti" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Letti
      </span>
    </div>

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to bolero_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/bolero/01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Bolero
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to tokio_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/tokio/01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Tokio
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to dorian_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/dorian/01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Dorian
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <% if false %>

      <div id="divani_design" class="col-sm-12 no_side_padding products_list_container padding_bottom_80px">
        <div class="col-sm-6 text-center">
          <span class="block products_big_text">
            Letti Moderno
          </span>
          <%= link_to letto_moderno_path, class: "product_link" do %>
            <span class="block">
              <%= image_tag("letti/moderno/STROMBOLI/BD439_01_cropped.jpg", class: "img-responsive home_products_image") %>
            </span>
          <% end %>
        </div>

        <div class="col-sm-6 text-center mobile_padding_top_20px">
          <span class="block products_big_text">
            Letti Classico
          </span>
          <%= link_to letto_classico_path, class: "product_link" do %>
            <span class="block">
              <%= image_tag("letti/classico/TIFFANY/BD409_01_cropped.jpg", class: "img-responsive home_products_image") %>
            </span>
          <% end %>
        </div>
      </div>

    <% end %>

  </div>
</section>
