<section class="padding_top_70px padding_bottom_70px grey_bg">
  <div class="container">
    <div class="col-sm-12 no_side_padding">
      <div class="col-sm-5">
        <span class="block">
          <a class="product_image_gallery_link zero_margin" href="<%= asset_path('letti/moderno/ELBA/BD444_01.jpg') %>" data-fancybox="gallery" title="">
            <%= image_tag("letti/moderno/ELBA/BD444_01.jpg", class: "img-responsive") %>
          </a>
        </span>

        <span class="block">
          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/ELBA/BD444_02.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/ELBA/BD444_02.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/ELBA/BD444_03.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/ELBA/BD444_03.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/ELBA/BD444_04.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/ELBA/BD444_04.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/ELBA/BD444_05.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/ELBA/BD444_05.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/ELBA/BD444_06.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/ELBA/BD444_06.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/ELBA/BD444_07.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/ELBA/BD444_07.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/ELBA/BD444_08.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/ELBA/BD444_08.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/ELBA/BD444_09.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/ELBA/BD444_09.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/ELBA/BD444_10.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/ELBA/BD444_10.jpg", class: "product_thumbnail") %>
            </a>
          </span>

        </span>
      </div>

      <div class="col-sm-7">
        <span class="inline_block product_show_heading">
          MATRIMONIALE ELBA
        </span>

        <span class="inline_block product_description letti_description">
          Letto matrimoniale imbottito in morbido soft-touch con doppio cuscino reclinabile in tre posizioni e comodini incorporati.
        </span>

        <span class="block padding_top_10px">
          <%= link_to "Scheda Tecnica", "BD444.pdf", target: "_blank", class: "products_more_link" %>
        </span>
      </div>
    </div>
  </div>
</section>

<%= render 'letti_slider' %>
