<section class="grey_bg padding_top_50px">
  <div class="container no_side_padding">

    <div id="divani_design" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Letti Moderno
      </span>
    </div>

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_stromboli_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/STROMBOLI/BD439_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE STROMBOLI
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_roma_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/ROMA/BD441_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE ROMA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_chamonix_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/CHAMONIX/BD427_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE CHAMONIX
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_chamonix_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/ELBA/BD444_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE ELBA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_elba_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/ASOLO/BD417_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            ASOLO
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_sardegna_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/SARDEGNA/BD447_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE SARDEGNA
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to ponza_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/PONZA/BD449_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PONZA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_giglio_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/GIGLIO/BD443_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE GIGLIO
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_maddalena_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/MADDALENA/BD438_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE MADDALENA
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to sicilia_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/SICILIA/BD448_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SICILIA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to panarea_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/PANAREA/BD445_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PANAREA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to capri_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/CAPRI/BD450_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            CAPRI
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to matrimoniale_sommier_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/SOMMIER/BD451_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MATRIMONIALE SOMMIER
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to king_size_stromboli_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/KS_STROMBOLI/KB439_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            KING SIZE STROMBOLI
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to king_size_roma_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/KS_ROMA/KB441_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            KING SIZE ROMA
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to king_size_elba_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/KS_ELBA/KB444_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            KING SIZE ROMA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to king_size_sardegna_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/KS_SARDEGNA/KB447_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            KING SIZE SARDEGNA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to king_size_giglio_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/KS_GIGLIO/KB443_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            KING SIZE GIGLIO
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_chamonix_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/M_CHAMONIX/SD427_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA CHAMONIX
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_stromboli_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/M_STROMBOLI/SD439_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA STROMBOLI
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_maddalena_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/M_MADDALENA/SD438_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA MADDALENA
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_sardegna_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/M_SARDEGNA/SD447_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA SARDEGNA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to piazza_e_mezza_sommier_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/M_SOMMIER/SD451_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PIAZZA E MEZZA SOMMIER
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to singolo_chamonix_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/S_CHAMONIX/SB427_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO CHAMONIX
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to singolo_stromboli_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/S_STROMBOLI/SB439_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO STROMBOLI
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to singolo_maddalena_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/S_MADDALENA/SB438_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO MADDALENA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to singolo_sommier_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/S_SOMMIER/SB451_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO SOMMIER
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to singolo_sardegna_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("letti/moderno/S_SARDEGNA/SB447_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SINGOLO SARDEGNA
          </span>
        <% end %>
      </div>
    </div>

  </div>
</section>
