<section class="padding_top_70px padding_bottom_70px grey_bg">
  <div class="container">
    <div class="col-sm-12 no_side_padding">
      <div class="col-sm-5">
        <span class="block">
          <a class="product_image_gallery_link zero_margin" href="<%= asset_path('letti/moderno/S_SARDEGNA/SB447_01.jpg') %>" data-fancybox="gallery" title="">
            <%= image_tag("letti/moderno/S_SARDEGNA/SB447_01.jpg", class: "img-responsive") %>
          </a>
        </span>

        <span class="block">
          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/S_SARDEGNA/SB447_02.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/S_SARDEGNA/SB447_02.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/S_SARDEGNA/SB447_03.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/S_SARDEGNA/SB447_03.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('letti/moderno/S_SARDEGNA/SB447_04.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("letti/moderno/S_SARDEGNA/SB447_04.jpg", class: "product_thumbnail") %>
            </a>
          </span>

        </span>
      </div>

      <div class="col-sm-7">
        <span class="inline_block product_show_heading">
          SINGOLO SARDEGNA
        </span>

        <span class="inline_block product_description letti_description">
          Letto singolo imbottito in morbido soft-touch e testiera con comodo vano porta oggetti.
        </span>

        <span class="block padding_top_10px">
          <%= link_to "Scheda Tecnica", "SB447.pdf", target: "_blank", class: "products_more_link" %>
        </span>
      </div>
    </div>
  </div>
</section>

<%= render 'letti_slider' %>
