<section class="grey_bg padding_top_50px">
  <div class="container no_side_padding">

    <div id="poltrone_design" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Poltrone
      </span>
    </div>

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to maiorca_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("poltrone/MAIORCA/MAIORCA_PT190_01_cropped.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MAIORCA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to santiago_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("poltrone/SANTIAGO/SANTIAGO_PT189_01_cropped.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SANTIAGO
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to salisburgo_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("poltrone/SALISBURGO/SALISBURGO_PT508_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SALISBURGO
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to baltimora_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("poltrone/BALTIMORA/PT600_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            BALTIMORA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to merida_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("poltrone/MERIDA/PT504_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MERIDA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to florida_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("poltrone/FLORIDA/PT501_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            FLORIDA
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to nevada_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("poltrone/NEVADA/PT101_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            NEVADA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to citymap_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("poltrone/CITYMAP/PT100_01.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            CITYMAP
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to marsiglia_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("poltrone/MARSIGLIA/PT607_01_cropped.jpg", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            MARSIGLIA
          </span>
        <% end %>
      </div>
    </div>

  </div>
</section>
