<section class="grey_bg padding_top_20px padding_bottom_30px">
  <div class="container no_side_padding">

    <div id="divani_design" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Ergonomic line
      </span>

      <span class="block product_small_text">
        Ergonomic line è la linea dedicata a chi sa che le differenze sono parte di noi e che ogni singola parte del nostro corpo contribuisce al benessere della nostra persona. Testa, piedi, gambe, schiena hanno bisogni differenti e rispettarli è il primo passo verso un riposo davvero piacevole e salutare. I materassi ergonomici Mecflex interagiscono con il corpo, ne rispettano il peso, assecondano le forme, facilitano il relax, soddisfano il sonno, grazie ai materiali usati e ad un sistema di molle indipendenti racchiuse singolarmente che agiscono progressivamente e indipendentemente con una spinta proporzionale al peso. Dalla testa ai piedi, ogni parte del corpo beneficia di questo sistema auto modellante che lo aiuta ad abbandonarsi al piacere di riposare sano. Senza pressioni e con una condizione termica ottimale che garantisce anche una maggiore igiene del materasso.
      </span>
    </div>

  </div>
</section>

<section class="top_block_border">
  <div class="container no_side_padding">

    <div class="col-sm-12 no_side_padding products_list_container margin_top_20px">
      <div class="col-sm-4 text-center">
        <%= link_to excellent_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Ergonomic/EXCELLENT/ergonomic-line-01-993x395.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            EXCELLENT
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to platinum_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Ergonomic/PLATINUM/01-platinum-983x397.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PLATINUM
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to lucent_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Ergonomic/LUCENT/lucent-1400x572.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            LUCENT
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to prince_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Ergonomic/PRINCE/prince-1005x408.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            PRINCE
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to sublime_natura_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Ergonomic/SUBLIME_NATURA/SUBLIME-NATURA-989x404.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SUBLIME NATURA
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to sublime_gold_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Ergonomic/SUBLIME_GOLD/sublime-gold-985x395.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SUBLIME GOLD
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to sublime_silver_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Ergonomic/SUBLIME_SILVER/sublime-silver-982x416.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SUBLIME SILVER
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to sublime_lusso_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Ergonomic/SUBLIME_LUSSO/sublime-lusso-977x403.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SUBLIME LUSSO
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to sublime_elegance_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Ergonomic/SUBLIME_ELEGANCE/sublime-elegance-986x394.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SUBLIME ELEGANCE
          </span>
        <% end %>
      </div>
    </div>

  </div>
</section>
