<section class="grey_bg padding_top_20px padding_bottom_30px">
  <div class="container no_side_padding">

    <div id="divani_design" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Fireproof line
      </span>

      <span class="block product_small_text">
        Mantenersi in forma con un corpo e una mente tonica? Basta sognare. Dormire è il migliore esercizio per un buon equilibrio tra mente e corpo. Anzi, è un rito che giorno dopo giorno migliora la nostra vita. Che ci rende più sereni, più piacevoli, più soddisfatti. Questa linea è caratterizzata dal sistema a molle tradizionale che garantisce un sostegno durevole, affidabile e silenzioso per rendere il riposo confortevole e piacevole negli anni. Si tratta, infatti, di materassi robusti fatti per durare nel tempo senza rischio di deformazioni. Tutti gli articoli di questa linea hanno regolare omologazione rilasciata dal Ministero degli Interni.
      </span>
    </div>

  </div>
</section>

<section class="top_block_border">
  <div class="container no_side_padding">

    <div class="col-sm-12 no_side_padding products_list_container margin_top_20px">
      <div class="col-sm-4 text-center">
        <%= link_to sublime_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Fireproof/SUBLIME/materassi-mecflex-melissano-166-1000x426.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            SUBLIME FR
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to resort_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Fireproof/Resort/materassi-mecflex-melissano-172-1000x386.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Resort FR
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to hc_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Fireproof/HC/materassi-mecflex-melissano-176-1000x407.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            HC
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to h_2000_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Fireproof/H_2000/materassi-mecflex-melissano-114-1000x434.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            H 2000
          </span>
        <% end %>
      </div>
    </div>

  </div>
</section>
