<section class="grey_bg padding_top_20px padding_bottom_30px">
  <div class="container no_side_padding">

    <div id="divani_design" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Foam line
      </span>

      <span class="block product_small_text">
        Passiamo un terzo della nostra vita a dormire. Molti esperti ne parlano e molte ricerche hanno dimostrato che non è solo una questione di quantità, ma anche e soprattutto, di qualità. Dalla qualità del sonno dipende il benessere fisico e psichico, in altre parole la nostra salute. Per questo scegliere il materasso più adatto a noi è importante. E trovare quello che più si adatta alle nostre esigenze è un regalo prezioso e un investimento che dà i suoi risultati oggi e nel tempo.
      </span>
    </div>

  </div>
</section>

<section class="top_block_border">
  <div class="container no_side_padding">

    <div class="col-sm-12 no_side_padding products_list_container margin_top_20px">
      <div class="col-sm-4 text-center">
        <%= link_to moros_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Foam/Moros/materassi-mecflex-melissano-065_d6lWzMJlRYKTkkKuEkaA-1000x436.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Moros
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to salus_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Foam/Salus/materassi-mecflex-melissano-073_CxO2kfcGTPaoO7Zpai9V-1000x429.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Salus
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to acar_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Foam/Acar/materassi-mecflex-melissano-077_3FKnlIwIRTSxaS7uL8lg-1000x391.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Acar
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to ares_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Foam/Ares/materassi-mecflex-melissano-081_XZpeRPnQVWh7R7YzkPju-1000x418.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Ares
          </span>
        <% end %>
      </div>

    </div>

  </div>
</section>
