<section class="grey_bg padding_top_20px padding_bottom_30px">
  <div class="container no_side_padding">

    <div id="divani_design" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Latex line
      </span>

      <span class="block product_small_text">
        Oggi il materasso non è più semplicemente il posto dove andiamo a dormire. Ma un vero e proprio strumento di cura e di bellezza che ci permette di prevenire molti dei disturbi più diffusi, come l’artrosi lombare e cervicale, l’insufficienza venosa, la varicosi, il russare e non ultima, la cellulite. Lattex line è una linea di materassi dedicata a chi ama prendersi cura di sé, a chi sa che la bellezza vuol dire anche salute. Prodotto naturale, ottenuto dalla linfa lattea dell’HEVEA BRASILIENS, il lattice ha molte proprietà che lo rendono una materia prima preziosa per realizzare materassi e cuscini. L’elasticità, la traspirabilità, l’anallergità e l’antimagnetismo sono tutte caratteristiche che contribuiscono ad un riposo rilassante e salutare.
      </span>
    </div>

  </div>
</section>

<section class="top_block_border">
  <div class="container no_side_padding">

    <div class="col-sm-12 no_side_padding products_list_container margin_top_20px">
      <div class="col-sm-4 text-center">
        <%= link_to ecoform_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Latex/Ecoform/materassi-mecflex-melissano-086-1000x404.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Ecoform
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to ecosin_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Latex/Ecosin/materassi-mecflex-melissano-092-1000x400.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Ecosin
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to ecobase_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Latex/Ecobase/materassi-mecflex-melissano-097-1000x377.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Ecobase
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to ecogreen_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Latex/Ecogreen/materassi-mecflex-melissano-102-1000x422.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Ecogreen
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to ecogen_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Latex/Ecogen/materassi-mecflex-melissano-107-1000x444.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Ecogen
          </span>
        <% end %>
      </div>
    </div>

  </div>
</section>
