<section class="grey_bg padding_top_20px padding_bottom_30px">
  <div class="container no_side_padding">

    <div id="divani_design" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Memory line
      </span>

      <span class="block product_small_text">
        Riposare bene, come cullati da braccia calde e amorevoli, è un piacere esclusivo. Un comfort di altissimo livello che solo la tecnologia può raggiungere. È la tecnologia dei materassi Memory Line. Una punta di diamante in casa Mecflex che ha sempre investito in ricerca e brevetti internazionali. L’effetto ottenuto dalla schiuma viscoelastica è quella di un dolce abbraccio, che sostiene il corpo, come sospeso, lontano dalla pressione della forza di gravità. Una sensazione di relax totalmente appagante, per sogni soffici e leggeri. Un massaggio naturale che rigenera dalle fatiche quotidiane, riattiva la circolazione, lascia riposare la struttura ossea. Inoltre, la struttura sferica delle cellule aperte consente il passaggio d’aria, regola l’umidità e mantiene costante la temperatura corporea.
      </span>
    </div>

  </div>
</section>

<section class="top_block_border">
  <div class="container no_side_padding">

    <div class="col-sm-12 no_side_padding products_list_container margin_top_20px">
      <div class="col-sm-4 text-center">
        <%= link_to luxor_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Memory/Luxor/materassi-mecflex-melissano-028_AGY1HQKpSdqWQrEdQhWQ-1000x391.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Luxor
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to ergo_memory_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Memory/Ergo_memory/materassi-mecflex-melissano-109-1000x410.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Ergo memory
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to zefiro_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Memory/Zefiro/materassi-mecflex-melissano-181-995x428.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Zefiro
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to oceano_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Memory/Oceano/materassi-mecflex-melissano-042_s5fDar0eTBqg9ccmFDyU-1000x434.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Oceano
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to lis_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Memory/Lis/0d68f55d8e924c08b0368e1201b74aef-556x353.dm.edit_vzi5My.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Lis
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to gris_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Memory/Gris/materassi-mecflex-melissano-054_3pgCt1rWSDWWcA6L8YeE-1000x411.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Gris
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to olim_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Memory/Olim/materassi-mecflex-melissano-059_DSTmrqYvQquysOVk8J1t-1000x419.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Olim
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to es_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Memory/Es/materassi-mecflex-melissano-063_b8o0HtRZOdNfWF2GxABi-1000x392.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Es
          </span>
        <% end %>
      </div>
    </div>

  </div>
</section>
