<section class="grey_bg padding_top_20px padding_bottom_30px">
  <div class="container no_side_padding">

    <div id="divani_design" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Spring line
      </span>

      <span class="block product_small_text">
        Tutti consideriamo il riposo come uno dei momenti più belli della giornata. Lo chiamiamo meritato riposo, diamo la buonanotte, auguriamo sogni d’oro. Tutte le nostre fatiche e speranze ricadono in questa meravigliosa attività. E facciamo bene, perché durante le ore di sonno il nostro corpo si rigenera nel vero senso della parola. Elimina le tossine, stimola il sistema immunitario, memorizza le esperienze diurne,elimina lo stress e aiuta il buon umore. Con la linea Springs Mecflex pone l’accento su un fattore importante del riposo: l’igiene. Perché il momento del sonno sia libero dalle minacce di acari, batteri e funghi, cause si allergie e asma. Attraverso trattamenti naturali dei tessuti possiamo garantire un’igiene costante a effetto durevole.
      </span>
    </div>

  </div>
</section>

<section class="top_block_border">
  <div class="container no_side_padding">

    <div class="col-sm-12 no_side_padding products_list_container margin_top_20px">
      <div class="col-sm-4 text-center">
        <%= link_to de_luxe_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Spring/De_luxe/materassi-mecflex-melissano-009-1000x396.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            De luxe
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to grandeur_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Spring/Grandeur/materassi-mecflex-melissano-015-1000x366.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Grandeur
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to galaxy_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Spring/Galaxy/materassi-mecflex-melissano-001-1000x402.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Galaxy
          </span>
        <% end %>
      </div>
    </div>

    <!-- LINE -->

    <div class="col-sm-12 no_side_padding products_list_container">
      <div class="col-sm-4 text-center">
        <%= link_to extra_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Spring/Extra/materassi-mecflex-melissano-020_i2Kc0Fu3RQyjN2iUBIUK-1000x392.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Extra
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to export_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Spring/Export/materassi-mecflex-melissano-024_Akb8OW8jScWct6dnnFpv-1000x369.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Export
          </span>
        <% end %>
      </div>
    </div>

  </div>
</section>
