<section class="padding_top_70px padding_bottom_70px grey_bg">
  <div class="container">
    <div class="col-sm-12 no_side_padding flex">
      <div class="col-sm-5">
        <span class="block">
          <a class="product_image_gallery_link zero_margin" href="<%= asset_path('materassi/Spring/De_luxe/materassi-mecflex-melissano-009-1000x396.png') %>" data-fancybox="gallery" title="">
            <%= image_tag("materassi/Spring/De_luxe/materassi-mecflex-melissano-009-1000x396.png", class: "img-responsive") %>
          </a>
        </span>
      </div>

      <div class="col-sm-7">
        <span class="block product_show_heading text-center">
          De luxe
        </span>

        <div class="col-sm-12 no_side_padding padding_top_30px text-center">

          <div class="col-sm-4">
            <span class="block">
              <%= image_tag("materassi/icons/mecflex-ico1-76x76.png", class: "materassi_icon_description") %>
            </span>

            <span class="block padding_top_20px">
              LATO ESTIVO
              <br>
              <span class="gold_text">COTONE</span>
            </span>

            <span class="block padding_top_20px">
              LATO INVERNALE
              <br>
              <span class="gold_text">LANA</span>
            </span>
          </div>

          <div class="col-sm-4">
            <span class="block">
              <%= image_tag("materassi/icons/mecflex-ico2-84x83.png", class: "materassi_icon_description") %>
            </span>

            <span class="block padding_top_20px">
              DIMENSIONI
              <br>
              <span class="gold_text">H25</span>
            </span>
          </div>

          <div class="col-sm-4">
            <span class="block">
              <%= image_tag("materassi/icons/mecflex-ico3-56x89.png", class: "materassi_icon_description") %>
            </span>

            <span class="block padding_top_20px">
              SISTEMA DI MOLLEGGIO
              <br>
              <span class="gold_text">700 MOLLE BONNEL</span>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="padding_top_70px">
  <div class="container">
    <%= render '6_maniglie' %>

    <%= render 'molle_bonnel' %>

    <%= render 'memorymec' %>

    <%= render 'mecfoam' %>

    <%= render 'trevira' %>

  </div>
</section>
