<section class="padding_top_70px padding_bottom_70px grey_bg">
  <div class="container">
    <div class="col-sm-12 no_side_padding flex">
      <div class="col-sm-5">
        <span class="block">
          <a class="product_image_gallery_link zero_margin" href="<%= asset_path('materassi/Spring/Grandeur/materassi-mecflex-melissano-015-1000x366.png') %>" data-fancybox="gallery" title="">
            <%= image_tag("materassi/Spring/Grandeur/materassi-mecflex-melissano-015-1000x366.png", class: "img-responsive") %>
          </a>
        </span>
      </div>

      <div class="col-sm-7">
        <span class="block product_show_heading text-center">
          Grandeur
        </span>
      </div>
    </div>
  </div>
</section>

<section class="padding_top_70px">
  <div class="container">
    <%= render 'molle_bonnel' %>

    <%= render 'mecfoam' %>

    <%= render 'sanitized' %>

  </div>
</section>
