<section class="padding_top_70px padding_bottom_70px grey_bg">
  <div class="container">
    <div class="col-sm-12 no_side_padding flex">
      <div class="col-sm-5">
        <span class="block">
          <a class="product_image_gallery_link zero_margin" href="<%= asset_path('materassi/Fireproof/Resort/materassi-mecflex-melissano-172-1000x386.png') %>" data-fancybox="gallery" title="">
            <%= image_tag("materassi/Fireproof/Resort/materassi-mecflex-melissano-172-1000x386.png", class: "img-responsive") %>
          </a>
        </span>
      </div>

      <div class="col-sm-7">
        <span class="block product_show_heading text-center">
          Resort FR
        </span>

        <div class="col-sm-12 no_side_padding padding_top_30px text-center">

          <div class="col-sm-4">
            <span class="block">
              <%= image_tag("materassi/icons/mecflex-ico1-76x76.png", class: "materassi_icon_description") %>
            </span>

            <span class="block padding_top_20px">
              AMBO I LATI ESTIVO / INVERNALE
              <br>
              <span class="gold_text">FIBRE IGNIFUGHE</span>
            </span>
          </div>

          <div class="col-sm-4">
            <span class="block">
              <%= image_tag("materassi/icons/mecflex-ico2-84x83.png", class: "materassi_icon_description") %>
            </span>

            <span class="block padding_top_20px">
              DIMENSIONI
              <br>
              <span class="gold_text">H22</span>
            </span>
          </div>

          <div class="col-sm-4">
            <span class="block">
              <%= image_tag("materassi/icons/mecflex-ico3-56x89.png", class: "materassi_icon_description") %>
            </span>

            <span class="block padding_top_20px">
              STRUTTURA INTERNA
              <br>
              <span class="gold_text">MECFOAM IGNIFUGA</span>
            </span>

            <span class="block padding_top_20px">
              OPTIONAL
              <br>
              <span class="gold_text">ANALLERGICO, SFODERABILE, LAVABILE</span>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="padding_top_70px">
  <div class="container">
    <%= render 'trevira_cs_ignitex' %>

    <%= render 'mecfoam_ignifuga' %>

  </div>
</section>
