<div class="col-sm-12 padding_top_20px">
  <span class="inline_block products_big_text">
    Divani Design
  </span>
</div>

<div class="col-sm-12 no_side_padding products_list_container">
  <div class="col-sm-4 text-center">
    <%= link_to design_alexander_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Alexander.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Alexander
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to design_damasco_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Damasco.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Damasco
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to design_boston_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Boston.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Boston
      </span>
    <% end %>
  </div>
</div>

<!-- LINE -->

<div class="col-sm-12 no_side_padding products_list_container">
  <div class="col-sm-4 text-center">
    <%= link_to design_siria_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Siria.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Siria
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to design_taormina_angolare_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Taormina_angolare.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Taormina angolare
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to design_taormina_lineare_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Taormina_lineare.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Taormina lineare
      </span>
    <% end %>
  </div>
</div>

<!-- LINE -->

<div class="col-sm-12 no_side_padding products_list_container">
  <div class="col-sm-4 text-center">
    <%= link_to design_vienna_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Vienna.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Vienna
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to design_maya_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Maya.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Maya
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to design_mambo_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Mambo.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Mambo
      </span>
    <% end %>
  </div>
</div>

<!-- LINE -->

<div class="col-sm-12 no_side_padding products_list_container">
  <div class="col-sm-4 text-center">
    <%= link_to design_samanta_lineare_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Samanta_lineare.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Samanta lineare
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to design_samanta_angolare_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/design/Samanta_angolare.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Samanta angolare
      </span>
    <% end %>
  </div>
</div>
