<div id="divani_relax" class="col-sm-12 padding_top_30px">
  <span class="inline_block products_big_text">
    Divani Relax
  </span>
</div>

<div class="col-sm-12 no_side_padding products_list_container">
  <div class="col-sm-4 text-center">
    <%= link_to relax_murano_penisola_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/relax/Murano_penisola.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Murano penisola
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to relax_comfort_angolare_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/relax/Comfort_angolare.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Comfort angolare
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to relax_serena_angolare_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/relax/Serena_angolare.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Serena angolare
      </span>
    <% end %>
  </div>
</div>

<!-- LINE -->

<div class="col-sm-12 no_side_padding products_list_container">
  <div class="col-sm-4 text-center">
    <%= link_to relax_murano_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/relax/Murano.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Murano
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to relax_serena_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/relax/Serena.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Serena
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to relax_panama_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/relax/Panama.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Panama
      </span>
    <% end %>
  </div>
</div>

<!-- LINE -->

<div class="col-sm-12 no_side_padding products_list_container">
  <div class="col-sm-4 text-center">
    <%= link_to relax_linda_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/relax/Linda.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Linda
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to relax_comfort_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/relax/Comfort.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Comfort
      </span>
    <% end %>
  </div>
</div>
