<div id="divani_letto" class="col-sm-12 padding_top_30px">
  <span class="inline_block products_big_text">
    Divani Letto
  </span>
</div>

<div class="col-sm-12 no_side_padding products_list_container">
  <div class="col-sm-4 text-center">
    <%= link_to letto_twin_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/letto/Twin.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Twin
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to letto_comodo_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/letto/Comodo.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Comodo
      </span>
    <% end %>
  </div>

  <div class="col-sm-4 text-center">
    <%= link_to letto_venezia_path, class: "product_link" do %>
      <span class="block">
        <%= image_tag("divani/letto/Venezia.jpg", class: "img-responsive home_products_image") %>
      </span>

      <span class="inline_block product_heading">
        Venezia
      </span>
    <% end %>
  </div>
</div>

<!-- LINE -->

</div>
