<section class="padding_top_70px padding_bottom_70px grey_bg">
  <div class="container">
    <div class="col-sm-12 no_side_padding">
      <div class="col-sm-5">
        <span class="block">
          <a class="product_image_gallery_link zero_margin" href="<%= asset_path('divani/design/Siria/01-18.jpg') %>" data-fancybox="gallery" title="">
            <%= image_tag("divani/design/Siria/01-18.jpg", class: "img-responsive") %>
          </a>
        </span>
        <span class="block padding_top_15px">
          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('divani/design/Siria/02-15.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("divani/design/Siria/02-15.jpg", class: "product_thumbnail") %>
            </a>
          </span>

          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('divani/design/Siria/03-13.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("divani/design/Siria/03-13.jpg", class: "product_thumbnail") %>
            </a>
          </span>
        </span>
      </div>

      <div class="col-sm-7">
        <span class="inline_block product_show_heading">
          Siria
        </span>

        <span class="inline_block product_description">
          Il divano di design Siria è progettato per offire il giusto equilibrio tra comfort e relax; presenta degli schienali bassi con cuscini separati per garantire oltre alla migliore ergonomia per testa e schiena, facilità di manutenzione e possibilità di allargare la seduta.
          <br>
          Nella versione angolare è possibile avere una penisola bassa senza la presenza di cuscini; particolare è l’impiego di un cuscino piatto che può trasformare questo divano in un’ampia e comoda piazza dove è possibile ottenere il massimo del comfort e del relax.
          <br>
          Questa tipologia di divano di design è rivestito in tessuto con un’ampia gamma di colorazioni possibili.
        </span>
      </div>
    </div>
  </div>
</section>

<!-- Sizes block -->

<section class="top_block_border">
  <div class="container">
    <div class="col-sm-12 divani_sizes_heading">
      Misure del divano
    </div>
    <div class="col-sm-12 no_side_padding divani_sizes_container">
      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/2-2.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            DIVANO 3 POSTI / 2 POSTI
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 205/225 cm
              </li>

              <li>
                P 95 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/3-1.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            Divano 2 posti
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 165 cm
              </li>

              <li>
                P 95 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/4-1.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            Poltrona
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 105 cm
              </li>

              <li>
                P 95 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/2-2.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            ELEMENTO 3 POSTI / 2 CUSCINI
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 200/180 cm
              </li>

              <li>
                P 95 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

    </div>

    <div class="col-sm-12 no_side_padding divani_sizes_container margin_top_30px">
      <div class="col-sm-4">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/elemento_2posti.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            Elemento 2 posti
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 140 cm
              </li>

              <li>
                P 95 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-4">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/elemento_1posto.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            Elemento 1 posto
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 80 cm
              </li>

              <li>
                P 95 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-4">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/angolo.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            ANGOLO
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 110 cm
              </li>

              <li>
                P 110 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

    </div>

  </div>
</section>

<!-- Products slider block -->

<section class="margin_top_50px">
  <div class="container">
    <div class="col-sm-12 text-center padding_top_20px">
      <span class="inline_block gold_dash"></span>
    </div>

    <div class="col-sm-12 divani_sizes_heading">
      Prodotti corelati
    </div>

    <div class="col-sm-12 products_slider_container">
      <div id="carousel" class="carousel slide products_slider_carousel" data-ride="carousel" data-type="multi" data-interval="false">
        <div class="carousel-inner">
          <div class="text-center item active">
            <div class="carousel-col">
              <%= link_to design_vienna_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Vienna.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Vienna
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_maya_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Maya.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Maya
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_mambo_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Mambo.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Mambo
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_siria_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Siria.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Siria
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_taormina_angolare_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Taormina_angolare.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Taormina angolare
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_taormina_lineare_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Taormina_lineare.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Taormina lineare
                </span>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Controls -->
				<div class="left carousel-control">
					<a href="#carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
				</div>
				<div class="right carousel-control">
					<a href="#carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

			</div>
    </div>
  </div>
</section>
