<section class="padding_top_70px padding_bottom_70px grey_bg">
  <div class="container">
    <div class="col-sm-12 no_side_padding">
      <div class="col-sm-5">
        <span class="block">
          <a class="product_image_gallery_link zero_margin" href="<%= asset_path('divani/letto/Comodo/01-7.jpg') %>" data-fancybox="gallery" title="">
            <%= image_tag("divani/letto/Comodo/01-7.jpg", class: "img-responsive") %>
          </a>
        </span>
        <span class="block padding_top_15px">
          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('divani/letto/Comodo/05-2.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("divani/letto/Comodo/05-2.jpg", class: "product_thumbnail") %>
            </a>
          </span>
          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('divani/letto/Comodo/02-5.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("divani/letto/Comodo/02-5.jpg", class: "product_thumbnail") %>
            </a>
          </span>
          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('divani/letto/Comodo/03-5.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("divani/letto/Comodo/03-5.jpg", class: "product_thumbnail") %>
            </a>
          </span>
          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('divani/letto/Comodo/04-3.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("divani/letto/Comodo/04-3.jpg", class: "product_thumbnail") %>
            </a>
          </span>
        </span>
      </div>

      <div class="col-sm-7">
        <span class="inline_block product_show_heading">
          Comodo
        </span>

        <span class="inline_block product_description">
          Il divano letto Comodo presenta linee semplici e pulite ed è adatto a essere collocato in ogni locale della casa; questa tipologia di divano letto è disponibile con bracciali rettangolari o tondi, di diverse dimensioni. Quando è aperto il divano letto Comodo si trasforma in un divano letto molto comodo e pratico; la rete del divano letto è elettrosaldata e sorretta da una struttura solida e resistente.
          <br>
          Il materasso di questo divano letto è in poliuretano espanso senza molle, alto ben 17 cm. Il divano letto Comodo può essere realizzato anche nelle versioni angolari o con l’inserimento di una penisola. Il rivestimento è in pelle o tessuto sfoderabile.
        </span>
      </div>
    </div>
  </div>
</section>

<!-- Sizes block -->

<section class="top_block_border">
  <div class="container">
    <div class="col-sm-12 divani_sizes_heading">
      Misure del divano
    </div>
    <div class="col-sm-12 divani_sizes_subheading">
      Il divano Comodo è di linee semplici e pulite, adatto ad ogni locale della casa. È disponibile con braccioli tondi o rettangolari di varie larghezze. Aperto, si trasforma in un divano letto di gran comodità. La rete è elettrosaldata , sostenuta da una struttura solida e robusta. Il materasso è in poliuretano espanso SENZA molle, alto ben 17 cm . Si può realizzare anche nella versione angolare o con penisola. Il rivestimento è in tessuto sfoderabile o pelle.
    </div>
    <div class="col-sm-12 no_side_padding divani_sizes_container">
      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/1-2.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            DIVANO 3 POSTI / 2 CUSCINI MAXI
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 220 cm
              </li>

              <li>
                P 90 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/2-2.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            DIVANO 3 POSTI / 2 CUSCINI
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 200 cm
              </li>

              <li>
                P 90 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/4.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            DIVANO 2 E 1/2
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 180 cm
              </li>

              <li>
                P 90 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/elemento_3posti.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            DIVANO 2 POSTI
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 160 cm
              </li>

              <li>
                P 90 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

    </div>

    <div class="col-sm-12 no_side_padding divani_sizes_container margin_top_30px">
      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/4-1.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            POLTRONA
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 100 cm
              </li>

              <li>
                P 90 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/4-1.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            POLTRONA LETTO
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 135 cm
              </li>

              <li>
                P 90 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/7.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            PENISOLA
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 160 cm
              </li>

              <li>
                P 90 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/8.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            ANGOLO RETTO
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 90 cm
              </li>

              <li>
                P 90 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

    </div>

  </div>
</section>

<!-- Products slider block -->

<section class="margin_top_50px">
  <div class="container">
    <div class="col-sm-12 text-center padding_top_20px">
      <span class="inline_block gold_dash"></span>
    </div>

    <div class="col-sm-12 divani_sizes_heading">
      Prodotti corelati
    </div>

    <div class="col-sm-12 products_slider_container">
      <div id="carousel" class="carousel slide products_slider_carousel" data-ride="carousel" data-type="multi" data-interval="false">
        <div class="carousel-inner">
          <div class="text-center item active">
            <div class="carousel-col">
              <%= link_to design_vienna_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Vienna.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Vienna
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_maya_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Maya.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Maya
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_mambo_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Mambo.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Mambo
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_siria_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Siria.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Siria
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_taormina_angolare_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Taormina_angolare.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Taormina angolare
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_taormina_lineare_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Taormina_lineare.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Taormina lineare
                </span>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Controls -->
				<div class="left carousel-control">
					<a href="#carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
				</div>
				<div class="right carousel-control">
					<a href="#carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

			</div>
    </div>
  </div>
</section>
