<section class="padding_top_70px padding_bottom_70px grey_bg">
  <div class="container">
    <div class="col-sm-12 no_side_padding">
      <div class="col-sm-5">
        <span class="block">
          <a class="product_image_gallery_link zero_margin" href="<%= asset_path('divani/relax/Comfort_angolare/comfort-angolare-1.jpg') %>" data-fancybox="gallery" title="">
            <%= image_tag("divani/relax/Comfort_angolare/comfort-angolare-1.jpg", class: "img-responsive") %>
          </a>
        </span>
        <span class="block padding_top_15px">
          <span class="inline_block">
            <a class="product_image_gallery_link" href="<%= asset_path('divani/relax/Comfort_angolare/comfort-angolare-2.jpg') %>" data-fancybox="gallery" title="">
              <%= image_tag("divani/relax/Comfort_angolare/comfort-angolare-2.jpg", class: "product_thumbnail") %>
            </a>
          </span>
        </span>
      </div>

      <div class="col-sm-7">
        <span class="inline_block product_show_heading">
          Comfort angolare
        </span>

        <span class="inline_block product_description">
          Il divano di design Comfort angolare è un divano dallo stile moderno ed elegante, autentico in tutti i suoi dettagli. La bellezza delle linee di design ne fanno un prodotto unico; le sedute sono rivestite da una morbida imbottitura lavorata a mano a trapuntino.
          <br>
          Ogni schienale del divano Comfort angolare ha la possibilità di scorrere in profondita attraverso un movimento elettrico permettendo di regolare la seduta più ottimale. Questo modello di divano è realizzabile anche nella variante angolare e lineare.
          <br>
          Il materiale del divano può essere tessuto non sfoderabile disponibile in un’ampia gamma di colori oppure in pelle.
        </span>
      </div>
    </div>
  </div>
</section>

<!-- Sizes block -->

<section class="top_block_border">
  <div class="container">
    <div class="col-sm-12 divani_sizes_heading">
      Misure del divano
    </div>
    <div class="col-sm-12 divani_sizes_subheading">
      Divano di design moderno ed elegante, originale in tutti i sui particolari. L’evoluzione del fusto e la bellezza delle linee ne fanno un divano unico. I sedili sono rivestiti da una morbida imbottitura lavorata a trapuntino. Ogni schienale scorre in profondità tramite un movimento elettrico permettendo di scegliere la seduta preferita. Il modello comfort è disponibile anche nella versione lineare ed angolare. Realizzabile in tessuto non sfoderabile o pelle.
    </div>
    <div class="col-sm-12 no_side_padding divani_sizes_container">
      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/2-1.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            DIVANO 3 POSTI / 2 CUSCINI
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 240 cm
              </li>

              <li>
                P 110 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/3-1.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            DIVANO 2 POSTI
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 220 cm
              </li>

              <li>
                P 110 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/elemento_2posti.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            ELEMENTO 2 POSTI
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 180 cm
              </li>

              <li>
                P 110 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-3">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/elemento_1posto.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            ELEMENTO 1 POSTO
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 110 cm
              </li>

              <li>
                P 110 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

    </div>

    <div class="col-sm-12 no_side_padding divani_sizes_container margin_top_30px">
      <div class="col-sm-4">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/6.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            ELEMENTO PENISOLA GRANDE
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 185 cm
              </li>

              <li>
                P 110 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-4">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/penisola_piccola.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            ELEMENTO PENISOLA PICCOLA
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 165 cm
              </li>

              <li>
                P 110 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

      <div class="col-sm-4">
        <span class="block text-center divani_sizes_img_container">
          <%= image_tag("divani_sizes/11.gif", class: "divani_sizes_img") %>
        </span>

        <span class="block divani_sizes_text_container">
          <span class="block uppercase">
            ELEMENTO PANCA ANGOLO
          </span>

          <span class="block">
            <ul class="divani_size_list">
              <li>
                L 125 cm
              </li>

              <li>
                P 125 cm
              </li>
            </ul>
          </span>
        </span>
      </div>

    </div>

  </div>
</section>

<!-- Products slider block -->

<section class="margin_top_50px">
  <div class="container">
    <div class="col-sm-12 text-center padding_top_20px">
      <span class="inline_block gold_dash"></span>
    </div>

    <div class="col-sm-12 divani_sizes_heading">
      Prodotti corelati
    </div>

    <div class="col-sm-12 products_slider_container">
      <div id="carousel" class="carousel slide products_slider_carousel" data-ride="carousel" data-type="multi" data-interval="false">
        <div class="carousel-inner">
          <div class="text-center item active">
            <div class="carousel-col">
              <%= link_to design_vienna_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Vienna.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Vienna
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_maya_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Maya.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Maya
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_mambo_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Mambo.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Mambo
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_siria_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Siria.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Siria
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_taormina_angolare_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Taormina_angolare.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Taormina angolare
                </span>
              <% end %>
            </div>
          </div>

          <div class="text-center item">
            <div class="carousel-col">
              <%= link_to design_taormina_lineare_path, class: "product_link" do %>
                <span class="block">
                  <%= image_tag("divani/design/Taormina_lineare.jpg", class: "img-responsive home_products_image") %>
                </span>

                <span class="inline_block product_heading">
                  Taormina lineare
                </span>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Controls -->
				<div class="left carousel-control">
					<a href="#carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
				</div>
				<div class="right carousel-control">
					<a href="#carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

			</div>
    </div>
  </div>
</section>
